/* initial setup */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /*so that border will not compress content */
}
#wrapper{
    /* height is 100 vh becoz entire code comes under wrapper */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
/* perspective can have any value, its just distance from u to plane  ,3d on*/

}

.container{
    position: relative;
    /* here we kept position relative becoz so the it becomes nearest ancestor to make over lapping possible for 2 pics */
    display: flex;
    justify-content: center;
    align-items: center; /*to make items centre*/
    height: 100%;
    transform-style: preserve-3d;  /* to make 3d changes applicable */  
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(6); 
    /* to keep in distance and zoom */

}
.foreground{
    transform: translateZ(-20px) scale(3);
}

.background,.foreground {
    position: absolute; /*to overlap items*/
    height:100%;
    width:100%;
    object-fit: cover; /* specify how a image should be resized to fit to container*/
    z-index: -1;

}

/* heading */
h1{
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    letter-spacing: 4px;
    color: black;
    text-shadow: 0 0 10px rgb(0,0,0,0,3);
    padding-left: 40px;

     font-family: 'Montserrat', sans-serif;
   
}


/* section starts */
section{
    background-color: #C32249;
    color: white;
    padding:5rem 0;
}

.secHeading{
    font-size: 3rem;
    padding: 0 10rem;
    font-family: 'Montserrat', sans-serif;
}

.text{
    font-size:1.5rem;
    padding: 0 10rem;
    margin: 2rem 0;
    
}

/* general background property */


.bg{
    position: relative;
    /* to make text overlap */
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg1{
    background-image: url(Assets/library.jpg);
}

.bg2{
    background-image: url(Assets/Cafteria.jpg);
}

.bg3{
    background-image: url(Assets/sportsclub.jpg);
}

/* setting description */
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5 rem 2.5rem;
    top: 50%;
    left:50%;
    transform: translateX(-50%)  translateY(-50%) ;
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
